requirements-dev.txt
requirements-prod.txt
.env
.env.local
.DS_Store
node_modules/
dist/
build/
*.pyc
__pycache__/
.pytest_cache/
.coverage
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.idea/
*.swp
*.swo
*~
.vscode/
.editorconfig
.env.local.php
.env.*.local
